.intro {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-bottom: 1px solid rgba(213, 213, 213, 0.1);
	background-color: rgba(52, 56, 65, 0.3);
	background-image: url("../assets/backgrounds/banner.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: calc(100vh - 3.5rem);
	min-height: 40rem;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
		height: 2px;
		background: rgba(255, 255, 255, 0.05);
	}

	video {
		display: none;
		filter: brightness(0.75) saturate(0.75);
		image-rendering: pixelated;
	}

	@media (min-width: 640px) {
		background-image: none;
		video {
			display: block;
		}
	}
}

.logo {
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 40px 30px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cta {
	font-size: 1.25rem;
	width: 16rem;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem 0.5rem 0 0;
	color: white;
	background-color: #ff50b0;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: all 200ms;
	display: inline-block;
	position: relative;
	text-decoration: none;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: calc(100% + 2px);
		border-radius: 0.125rem;
		pointer-events: none;
		transition: all 200ms;
		height: 3px;
		background: linear-gradient(135deg, #ff50b0 0%, #ff80d0 100%);
	}

	&:hover {
		background-color: #ff40a0;
		transform: scale(1.05);
		border-radius: 0.5rem 0.5rem 0.125rem 0.125rem;

		&:after {
			left: 50%;
			right: 50%;
		}
	}
}
