.site-nav {
	box-shadow: 0 1px 1px 1px rgb(255 255 255 / 10%);
}

@supports (backdrop-filter: blur(4px)) {
	.site-nav {
		background-color: rgba(14, 17, 24, 0.5);
		backdrop-filter: blur(8px);
	}
}

@supports not (backdrop-filter: blur(4px)) {
	.site-nav {
		background-color: rgba(14, 17, 24, 0.9);
	}
}

.nav-logo {
	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0;
		height: 0;
		border-radius: 50%;
		background: color-mix(in srgb, #ff50b0 80%, transparent);
		transition: all 300ms ease-in-out;
	}

	&:hover,
	&:active {
		&:after {
			width: 200%;
			height: 200%;
		}
	}
}

.nav-links {
	.page-links > a,
	.page-links .page-link {
		display: flex;
		align-items: center;
		padding: 0 1rem;
		font-weight: 600;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 0;
			background-color: rgba(255, 80, 176, 0.8);
			transition: all 200ms ease-in-out;
			z-index: -1;
			margin-bottom: -2px;
		}

		&.router-link-active:after,
		&.router-link-exact-active:after {
			height: 2px;
		}

		&:hover,
		&:active {
			&:after {
				height: calc(100% + 2px);
			}
		}
	}
}

.discord-button {
	color: white;
	background-color: #5865f2;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: background-color 200ms;

	&:hover {
		background-color: #4752c4;
	}
}

.play-now-button {
	color: white;
	background-color: #ff50b0;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: background-color 200ms;

	&:hover {
		background-color: #ff40a0;
	}
}

.toggle-nav {
	width: 50px;
	height: 50px;
	position: relative;

	span {
		width: 20px;
		height: 2px;
		margin: auto;
		background: white;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: all 0.4s ease;

		&.top {
			transform: translateY(-8px);
		}

		&.bottom {
			transform: translateY(8px);
		}
	}

	&.active {
		.top {
			transform: rotate(-45deg);
		}
		.mid {
			transform: translateX(-20px) rotate(360deg);
			opacity: 0;
		}
		.bottom {
			transform: rotate(45deg);
		}
	}
}
