---
import MediaTabs from "../components/media-tabs/media-tabs.tsx";
import Layout from "../layouts/main-layout.astro";
import "./media.css";

// Page is pre-rendered at build time
// Media data is fetched client-side in the SolidJS component
---

<Layout
	title="Media - S.P.L.U.R.T. Station"
	description="View splashscreens and in-game screenshots from S.P.L.U.R.T. Station."
	pageTitle="Media"
>
	<div class="container mx-auto px-4 py-12 lg:py-16 xl:py-24 relative z-10">
		<div class="card">
			<MediaTabs client:only="solidjs"/>
		</div>
	</div>
</Layout>
